*,
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    transition: all .5s ease-in-out;
}

.title {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 700;
    font-size: 35px;
    padding: 5px;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box {
    width: 50%;
    background-color: rgb(201, 200, 200);
    display: flex;
    justify-content:space-evenly;
    padding: 25px;
    border-radius: 100px;
}

.circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}

.red {
    background-color: #E73F1E;
}

.orange {
    background-color: #FB6C00;
}

.yellow {
    background-color: #F9B637;
}

.beige {
    background-color: #FFDD9C;
}